body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mainCanvas {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    object-fit: contain;
}

#uiCanvas {
    position: absolute;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    object-fit: contain;
}